{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Poggle</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
    </head>
    <header>
        <h1>Poggle</h1>
        <p id="dedication">~ Dedicated to my favorite turbonerds ~</p>
    </header>
    <body>
        <div id="board">
            <div id="layout">
                {% for row in board %}
                    <div class="letter_row" id="letter_row_{{ forloop.counter }}">
                    {% for letter in row %}
                        <div class="letter_block col_{{ forloop.counter }}">{{ letter }}</div>
                    {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="word_area">
            <div class="align_buttons"><button id="clear">clear</button></div>
            <div id="current_word"></div>
            <a class="align_buttons" href = "/"><button id="enter_word">✓</button></a>
        </div>
        <p id="already_played">word already played</p>
        <div class="divider"></div>
        <div class="played_container">
            <div class="word_list valid">
                <div class="running_count_valid list_header">Words Played: {{ word_list|length }}</div>
                {% for w in word_list %}
                    <div class="played_word">{{ w }}</div>
                {% endfor %}
            </div>
            <div class="divider"></div>
            <div class="word_list">
                <div class="running_count_invalid list_header">For Shame: {{ invalid_word_list|length }}</div>
                {% for v in invalid_word_list %}
                    <div class="played_word">{{ v }}</div>
                {% endfor %}
            </div>
        </div>
    </body>
    <footer>
        <script src="{% static 'js/add_word.js' %}"></script>
    </footer>
</html>