*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(206, 206, 206);
}

body{
    overflow-x: hidden;
}

h1{
    color: #0D4A3A;
    font-size: 15cqw;
    display: block;
    width: 100%;
    text-align: center;
    margin: 2cqw;
}

#dedication{
    font-family: cursive;
    font-size: 3.9cqw;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0  auto 1.5em auto;
}

#board{
    width: 80vw;
    height: 80vw;
    margin: 6cqw auto;
}

#layout{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.letter_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.25em auto;
    width: 100%;
}

.letter_block{
    background-color: white;
    border: 2px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12cqw;
    font-weight: bold;
    width: 20cqw;
    height: 20cqw;
    line-height: 20cqw;
    text-align: center;
    vertical-align: middle;
    border-radius: 10%;
}

.letter_block:hover{
    cursor: pointer;
}

.selected{
    border: 7px solid #0D4A3A;
    background-color: #7ffedc;
}

#word_area{
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3cqw auto 1cqw auto;
}

#current_word{
    color: #7ffedc;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 12cqw;
    display: block;
    width: 90vw;
    height: 15cqw;
    line-height: 15cqw;
    text-align: center;
    margin-bottom: 2cqw;
    font-family: "Segoe UI", system-ui, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.align_buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3em;
}

#enter_word, #clear{
    text-align: center;
}

 #clear{
    font-size: 4cqw;
    border: 1.5px solid rgb(173, 26, 26);
    background-color: white;
    border-radius: 10%;
    height: 6cqw;
    width: 12cqw;
    color: red;
 }

#enter_word{
    border-radius: 50%;
    height: 10cqw;
    width: 10cqw;
    font-weight: bold;
    color: white;
    font-size: 5cqw;
    background-color: #0D4A3A;
    box-shadow: 0 0 2cqw 1cqw #7ffedc;
}

#already_played{
    color: rgb(94, 94, 94);
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 4.5cqw;
}

a{
    text-decoration: none;
}


.most_recent_letter{
    box-shadow: 0 0 10px 10px yellow;
}

.played_container{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    width: 85vw;
    justify-content: space-evenly;
    margin: 5cqw auto;
}

.divider{
    width: 0.5cqw;
    background-color:black;
}

.list_header{
    font-size: 5.5cqw;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    margin-bottom: 0.3em;
}

.running_count_valid{
    color: #0D4A3A;
}

.running_count_invalid{
    color: rgb(173, 26, 26);
}

.played_word{
    font-size: 5cqw;
    line-height: 5.5cqw;
}

.played_word::before{
    content: "- ";
    background-color: rgb(206, 206, 206);
    margin-right: 1cqw;
    width: 2cqw;
    color: rgb(206, 206, 206);
}

@media screen and (min-width: 640px) {
    #board{
        width: 90vw;
        height: 90vw;
        margin: 1.5em auto;
    }
}